






body {
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 img{
  border-radius: 20px;
  border-top: 20px;
  width:300px;
  height:300px
 }